beautifulsoup4
certifi
charset-normalizer
idna
requests
soupsieve
tabulate
urllib3
anyio
cython
hll
httpcore
httpx
rfc3986
selectolax
sniffio
greenlet
numpy
pandas
playwright
pyee==11.0.0
python-dateutil
pytz
six
typing_extensions
attrs
automat
cffi
constantly
cryptography
cssselect
filelock
hyperlink
incremental
itemadapter
itemloaders
jmespath
lxml
protego
pyasn1
pyasn1-modules
pycparser
pydispatcher
pyopenssl
queuelib
requests-file
scrapy
scrapy-playwright
service-identity
tldextract
twisted
w3lib
zope.interface